body {
    color: white;
    background-color: black;
}

#lbItems {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
}

.lb-item {
    width: 258px;
    margin: 10px;
    border: 1px solid white;
}

.lb-warning {
    font-size: 2em;
    text-align: center;
    color: yellow;
}

#lbNavigation {
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    align-items: center;
}


.lb-navigation {
    width: 70%;
    height: 100%;
    font-weight: bold;
    background-color: white;
}
